.next
node_modules
lib
demos
packages/runtime/src/templates/edge
packages/runtime/src/templates/edge-shared
packages/runtime/src/templates/vendor
packages/runtime/lib
packages/runtime/dist-types
jestSetup.js
test/e2e
test/fixtures/broken_next_config/next.config.js
test/integration/fixtures
