node_modules/
dist/
.next
edge-runtime/vendor

# Local Netlify folder
.netlify
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

deno.lock
.eslintcache
/report/index.html
.DS_Store
tests/**/package-lock.json
tests/**/pnpm-lock.yaml
tests/**/yarn.lock
tests/**/out/
report/test-results.json
