dist/
.next
playwright-report/
.netlify
CHANGELOG.md
package-lock.json
package.json
edge-runtime/vendor/
deno.lock
tests/fixtures/dist-dir/cool/output
tests/fixtures/output-export-custom-dist/custom-dist
.nx
custom-dist-dir
pnpm.lock
# to avoid needing extra permissions to format files
.github/workflows