@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Mulish;
    src: url(/MulishVar-latin.woff2) format('woff2');
    unicode-range: U+5, U+20, U+21, U+24, U+25, U+26, U+27, U+2B-2E, U+30-3A, U+3F, U+41-5A, U+61-7A,
      U+D7, U+2019, U+201C, U+201D;
    font-weight: 200 900;
    font-display: swap;
  }
}

@layer components {
  .table.issues-table :where(td) {
    @apply py-1.5;
  }

  .table.issues-table :where(td:nth-last-child(-n + 4)) {
    @apply text-center p-1 md:p-4;
  }

  .table.issues-table :where(td:nth-last-child(-n + 3)) {
    @apply text-neutral-content;
  }

  .stat-value {
    @apply font-bold;
    @apply text-3xl;
  }
}