name: release-please
on:
  push:
    branches:
      - main
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/github-app-token-generator@a3831f44404199df32d8f39f7c0ad9bb8fa18b1c
        id: get-token
        with:
          private-key: ${{ secrets.TOKENS_PRIVATE_KEY }}
          app-id: ${{ secrets.TOKENS_APP_ID }}
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{ steps.get-token.outputs.token }}
          release-type: node
          package-name: '@netlify/next-runtime'
      - uses: actions/checkout@v3
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v3
        with:
          node-version: '*'
          cache: 'npm'
          check-latest: true
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.release_created }}
      - name: Install dependencies
        run: CI=1 npm ci
        if: ${{ steps.release.outputs.release_created }}
      - name: Build
        run: npm run build
        if: ${{ steps.release.outputs.release_created }}
      - run: npm publish
        if: ${{ steps.release.outputs.release_created }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - uses: netlify/submit-build-plugin-action@v1
        if: ${{ steps.release.outputs.release_created }}
        with:
          github-token: ${{ steps.get-token.outputs.token }}
