name: Plugin Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        node-version: [10.13.0, '*']
        exclude:
          - os: macOS-latest
            node-version: 10.13.0
          - os: windows-latest
            node-version: 10.13.0
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: '*'
      - run: npm ci
      - name: Linting
        run: npm run format:ci
        if: "${{ matrix.node-version == '*' }}"
      - run: npm test
